@model IEnumerable<library_system.Models.Pubblisher>

@{
    Layout = "_LayoutAdmin";

    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-custom">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-custom">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-custom">Delete</a>

                    <style>
                        .btn-custom {
                            display: inline-block;
                            background-color: blue; /* Button background */
                            color: white; /* Text color */
                            padding: 5px 15px;
                            text-decoration: none; /* Remove underline */
                            border-radius: 5px;
                            font-weight: bold;
                            transition: background-color 0.3s, color 0.3s;
                        }

                            .btn-custom:hover {
                                background-color: white;
                                color: blue;
                                border: 2px solid blue;
                            }
                    </style>
                </td>
        </tr>
}
    </tbody>
</table>
